{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}

    <meta name="description" content="Home page of Foreign Exchange">
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/resources/vendor/chosen/chosen.css" />
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Trade</h1>
        <p class="important">
            Latest trades in Foreign Exchange transactions
        </p>
    </div>

    <div class="row">
        <h3>Filters</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="js-trade-form" action="/trade" method="post">
                <select class="chosen-select" name="currency[]" data-placeholder="Choose Currency Pair to filter..." style="width:350px;" multiple>
                    <option value=""></option>
                    {% for currency in currencies %}
                        <option value="{{ currency }}" {{ currency in selected.currency ? 'selected="selected"' : '' }}>{{ currency }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" class="js-action" name="action" value="filter" />
                <button class="js-filter-btn btn btn-primary">Filter</button>
                <button class="js-download-btn btn btn-primary">Download</button>
            </form>
        </div>
    </div>

    <div class="row">
        <h3>Search</h3>
    </div>
    <div class="row">
        <div class="col-md-10">
            <input type="text" id="js-search-key" class="form-control" value="" placeholder="Enter Your Search Key Here" />
        </div>
    </div>
    
    <hr>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <th>ID</th>
                <th>Time</th>
                <th>Currency Pair</th>
                <th>Action</th>
                <th>Caption</th>
                <th>Value</th>
                <th>Trader</th>
                <th>Return</th>
                <th>Pips</th>
            </thead>
            <tbody class="trade-list">
            {% for trade in trades %}
                <tr class="{{ trade.action == 'BUY' ? 'success' : '' }}" data-content="{{ trade.id }} {{ trade.currency }} {{ trade.trader.getusername() }} {{ trade.caption }}">
                    <td>{{ trade.id }}</td>
                    <td>{{ trade.getTime('m/d/Y H:i A') }}</td>
                    <td>{{ trade.currency }}</td>
                    <td>{{ trade.action }}</td>
                    <td><a href="http://www.forexfactory.com/{{ trade.trader.getUsername() }}/">{{ trade.caption }}</a></td>
                    <td>{{ trade.value }}</td>
                    <td><img class="img" src="{{ trade.trader.getAvatarUrl() }}" /> <a href="http://www.forexfactory.com/{{ trade.trader.getUsername() }}/">{{ trade.trader.getUsername() }}</a></td>
                    <td>{{ trade.return }}</td>
                    <td>{{ trade.pips }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/resources/vendor/chosen/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/fsearch/fsearch.js" type="text/javascript"></script>
    <script src="/resources/js/trade.js" type="text/javascript"></script>
{% endblock %}